@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.button {
  background-color: linear-gradient(
    to right,
    rgba(46, 102, 56, 0.315),
    hsla(242, 74%, 61%, 0.144)
  ) !important ;
}

.button:hover {
  background-color: linear-gradient(
    to right,
    rgba(46, 102, 56, 0.315),
    hsla(242, 74%, 61%, 0.144)
  ) !important ;
}

/* .skills {
  height: 1200% !important;
} */

.works {
  /* height: 100% !important; */
  /* width: 100%; */
}

.works-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  /* width: 100%; */
  padding: 10px !important;
}

/* .works-container:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important ;
  /* height: 300px !important; */
/*} */

.works-container:hover {
  background-image: linear-gradient(
    to right,
    rgba(46, 102, 56, 0.315),
    hsla(242, 74%, 61%, 0.144)
  ) !important ;
  height: 250px;
}

/* .contact {
  max-height: 100% !important;
  height: 100% !important;
} */

/* @media screen and (max-width: 400px) {
  .home {
    max-height: 100vh !important;
  }
  .about {
    max-height: 100vh;
  }
  .skills {
    height: 190vh;
  }
  .works {
    height: 175vh;
  }
}

@media screen and (max-width: 650px) {
  .home {
    max-height: 100vh !important;
  }
  .about {
    max-height: 100vh;
  }
  .skills {
    height: 190vh;
  }
  .works {
    height: 175vh;
  }
}

@media screen and (max-width: 1000px) and (min-width: 650px) {
  .home {
    max-height: 100vh !important;
  }
  .about {
    max-height: 100vh;
  }
  .skills {
    height: 125vh;
  }
  .works {
    height: 180vh;
  }
} 

/* @media screen and (max-width: 3000px) and (min-width: 1000px) {
  .home {
    max-height: 100vh !important;
  }
  .about {
    max-height: 100vh;
  }
  .skills {
    height: 125vh;
  }
  .works {
    height: 180vh;
    /* width: 100vw; */
/* } */
/* } */
